@font-face{
    font-family: 'work';
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.ttf);
    src: url(../fuentes/tipografiaprincipal/WorkSans-Medium.woff),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot),
        url(../fuentes/tipografiaprincipal/AnyConv.com__WorkSans-Medium.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: 'calibri';
    src: url(../fuentes/tipografiasecundaria/CalibriRegular.ttf);
    src: url(../fuentes/tipografiasecundaria/Calibri-Regular.woff),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot),
        url(../fuentes/tipografiasecundaria/AnyConv.com__CalibriRegular.eot?iefix) format('embedded-opentype');
        font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    font-family: 'work', 'calibri';
}
a {
    color: inherit;
    text-decoration: none;
    display: block;
}
body {
    font-family: 'work', 'calibri';
    font-size: 13px;
}
html, body{
    margin: 0;
    padding: 0;
}
figure{
    padding: 0;
    margin: 0;
}
header#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #39A900;
    position: fixed;
    width: 100%;
}
#rayita{
    height: 55px;
    border: 1px solid white;
    margin: 10px;
}
#contenedortitulo{
    display: flex;
    align-items: center;
    color: white;
    animation: slide-in 0.4s ease-in;
    padding: 10px;
}
figure#header_logo{
    width: 55px;
    height: 55px;
}
#logo_sena{
    width: 100%;
}

#cont_carrito{
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}
#cont_carrito p{
    display: none;
}
#cont_carrito i{
    font-size: 35px;
    cursor: pointer;
}

#cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 115px;
}
#error_producto{
    display: none;
}
.oculto {
    display: none;
}

.visible {
    display: flex;
}

#carrito{
    display: none;
}
#vermenos{
    display: none;
}

#cont_input{
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    width: clamp(100px, 200%, 300px);
}
    #cont_input input{
        background-color: rgb(240, 240, 240);
        padding: 15px;
        max-width: 100%;
        border: none;
        border-radius: 10px;
        width: 100%;
        border: 1px 1px 1px 0px solid;
    }
    #cont_input i{
        font-size: 15px;
        padding: 10px;
        border: none;
    }



div#cuerpo1{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 5px;
    font-size: clamp(8px, 100%, 18px);
}
div#cuerpo2{
    padding: 15px;
    display: none;
    grid-template-columns: repeat(2, 150px);
    gap: 5px;
    font-size: clamp(8px, 100%, 18px);
}

#cont_img{
    background-color: blue;
    height: 100px;
}

#cont_img .img_bd{
    width: 100%;
    height: 100%;
}

.cartas{
    background-color: rgb(240, 240, 240);
    padding: 10px;
    flex-direction: column;
    align-items: center;
    display: none;
}
    .cartas h2{
        margin: 0;
        padding-bottom: 10px;
    }
.cartas2{
    background-color: rgb(240, 240, 240);
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
    .cartas2 h2{
        margin: 0;
        padding-bottom: 10px;
    }

.contenedor_cantidad{
    display: flex;
    border-radius: 5px;
}

#cont_info{
    height: 70px;
    width: 100%;
    text-align: center;
    margin: 15px;
}
    #cont_info p span{
        color: #00324D;
    }

    .cantidad{
        display: flex;
        align-items: center;
        background-color: gray;
        padding: 0 3px;
        border-radius: 2px;
        margin-right: 3px;
    }
    .cantidad .menos{
        border: 1px solid #00324D;
        border-radius: 2px;
        cursor: pointer;
    }
    .cantidad .mas{
        background-color: #00324D;
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }
        .cantidad button{
            display: flex;
            align-items: center;
            padding: 3px;
            height: 70%;
        }
            .cantidad button i{
                font-size: clamp(9px, 60%, 17px);     
            }
    #cont_subtotal{
        display: flex;
        align-items: center;
        border: none;
        border: 1px solid black;
        padding: 1px;
        border-radius: 2px;
        color: grey;
    }    
    .inputs_numeros{
        border: none;
        background: none;
        width: 100%;
        color: grey;
    }
    .inputs{
        width: 20px;
        text-align: center;
        background: none;
        border: none;
    }

.btn_carrito{
    margin-top: 20px;
    color: white;
    background-color: #00324D;
    border: none;
    padding: 8px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}
#forma_registro{
    display: none;
    margin: 15px;
    
}
    #forma_registro h2{
        margin: 0;
    }
    .inp_registro{
        padding-top: 5px;
    }
   

section#carrito{
    position: absolute;
    color: white;
    background-color: #39A900;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0%;
    overflow-x: hidden;
}

section#carrito.visible{
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    width: 100%;
    animation: aparicion 0.5s ease-in-out;
}
section#carrito.remove{
    animation: desaparicion 0.5s ease-in-out;
}

@keyframes aparicion{
    0%{
        width: 0;
    }

    100%{
        width: 100%;
    }

}
@keyframes desaparicion{
    0%{
        width: 100%;
    }

    100%{
        width: 0;
    }

}

    section#carrito #carrito_hambu{
        display: flex;   
        align-items: center;
        gap: 10px;
        padding-right: 5px;
    }
    #cont_miniheader{
        height: 100px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #cont_miniheader i#cerrar{
        font-size: 20px;
        cursor: pointer;
        margin-left: 5px;
    }
    #cont_miniheader #carrito_miniheader{
        font-size: 35px;
    }

#ver_mas, #ver_menos{
    background-color: #00324D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

#carritoContenido{
    max-height: 350px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    padding: 10px; 
}
.item{
    display: flex;
    height: 120px;
    background-color: white;
    color: black;
    margin-bottom: 15px;
    margin: 5px;
    padding: 10px;
    position: relative;
    border-radius: 8px;
}
    #totalCarrito{
        text-align: center;
    }
    .item_cont h3,p {
        margin: 0;
        padding-left: 15px;
    }
    .item_cont_direccion{
        display: flex;
        margin-top: 10px;
        
    }
    .eliminar{
        position: absolute;
        color: gray;
        font-size: 20px;
        left: 93%;
        bottom: 5%;
    }

 .mi-boton-confirmar {
    background-color: #00324D; 
    color: #fff; 
    border: 1px solid #00324D; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
}
    
    .mi-boton-confirmar:hover {
        background: none;
        border: 1px solid #39A900;
        color: #39A900;/* Verde oscuro al pasar el ratón */
        transition: 0.3s;
    }
 


#boton{
    display: flex;
    justify-content: center;
}

    #confirmar_carrito{
        margin-top: 20px;
        color: white;
        background-color: #00324D;
        border: none;
        padding: 8px;
        font-size: 12px;
        border-radius: 5px;
        cursor: pointer;
    }

footer{
    position: fixed;
    bottom: 0;
    padding: 10px;
    color: gray;
}


@media only screen and (min-width: 768px){
    div#cuerpo1{
        grid-template-columns: repeat(3, 180px);
        gap: 15px;
    }
    div#cuerpo2{
        grid-template-columns: repeat(3, 180px);
        gap: 15px;
    }
    .cantidad{
        padding: 0 4px;
    }
    .cantidad button{
        padding: 6px;
    }
    section#carrito.visible{
        width: 512px;
    }
    @keyframes aparicion{
        0%{
            width: 0;
        }
    
        100%{
            width: 512px;
        }
    
    }
    @keyframes desaparicion{
        0%{
            width: 512px;
        }
    
        100%{
            width: 0;
        }
    
    }
}

@media only screen and (min-width: 1366px){
    div#cuerpo1{
        grid-template-columns: repeat(4, 250px);
        gap: 25px;
    }
    div#cuerpo2{
        grid-template-columns: repeat(4, 250px);
        gap: 25px;
    }
    .cantidad{
        padding: 0 6px;
    }
    .cantidad button{
        padding: 9px;
    }
    .inputs{
        width: 40px;
    }
    #cont_carrito p{
        display: flex;
        font-size: 1.5em;
        padding: 10px;
    }
    section#carrito.visible{
        width: 412px;
    }
    @keyframes aparicion{
        0%{
            width: 0;
        }
    
        100%{
            width: 412px;
        }
    
    }
    @keyframes desaparicion{
        0%{
            width: 412px;
        }
    
        100%{
            width: 0;
        }
    
    }
}