<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logoSena.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/confirmacion.css">
    <title>Confirmacion</title>
</head>
<body id="cuerpo_mayor">
    
    <main id="cuerpo">
        <figure id="img">
            <img src="../static/img/logoSena.ico" alt="logoSena" id="logo">
        </figure>
        <div id="caja">
            <div id="titul">
                <h1 id="titulo">¡¡Felicitaciones!!</h1>
            </div>
            <h3 id="comentario">La orden de compra llegará a tu correo electrónico, gracias por apoyar MERCASENA</h3>
        </div>
        <button id="btn_volver">
            <a href="/" id="volver">Continuar</a>
        </button>
    </main>

</body>
</html>